@page "/"
@using tictactoeweb.Shared.Controllers

@inject HttpClient Http
@* @inject ControllerBase *@

@inherits ControllerBase

<h1>TicTacToe Demo</h1>

    <BlazorTicTacToeBoard />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
