
@namespace tictactoeweb.Shared.DesignPatterns

@inherits ITicTacToeBoardSpace

            <div class="boardspace">
                <div class="text">1</div>
            </div >

@code
{
    private TicTacToeGame tictactoe;
    public BlazorTicTacToeBoardSpace() { 
    }
    public BlazorTicTacToeBoardSpace(TicTacToeGame tictactoe) { 
        this.tictactoe=tictactoe; 
    } 
}

