
@namespace tictactoeweb.Shared.DesignPatterns

@inherits ITicTacToeBoardSpace
@inject TicTacToeGame tictactoe

<div class="boardspace">
    <div class="text">@tictactoe.gameState[Idx]</div>
</div >

@code
{
    [Parameter]
    public int Idx { get; set; }
    protected override void OnInitialized()
    {
        //log(new {msg="Init called"});
        this.tictactoe=tictactoe;

    }

}

