
 
@namespace tictactoeweb.Shared.DesignPatterns

<style>

</style>
<div class="main-board">
    <div class="grid-container">
        <div class="boardspace">
            <div class="text">1</div>
        </div >
        <div class="boardspace">
            <div class="text">2</div>
        </div>
    </div>
</div>

@code {
  protected TicTacToeGame tictactoe;
}

