
@namespace tictactoeweb.Shared.DesignPatterns

<style>
  .boardspace {
    width: 100%;
    padding-top: 5%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
  }
  .usered {
    background-color: red;
  }
  .usewhite {
    background-color: hotpink;
    border-radius: 4px;
    border-color: black;
  }

 }
</style>
<button class="@( (TicTacToe.windex!=-1 
            && TicTacToe.winstates[TicTacToe.windex].Contains(Idx))
            ?"boardspace usewhite text":"boardspace usered text" )" @onclick="onclick">
@TicTacToe.gameState[Idx]
</button>
@code
{
    [Parameter]
    public int Idx { get; set; }
    [Parameter]
    public TicTacToeGame TicTacToe { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> onclick { get; set; }
}

